$color-white: #fff;
$color-black: #000000;
$color-grey08: #282828;
$color-red: #540707;
$color-brown02: #2d0e0b;

@mixin font($font-family, $font-file, $font-format) {
  @font-face {
    font-family: $font-family;
    src: url($font-file) format($font-format);      
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Better-Yesterday-italic', '../fonts/Better Yesterday italic.otf', 'opentype');
@include font('Better-Yesterday', '../fonts/Better Yesterday.otf', 'opentype');
@include font('Caviar-Dreams', '../fonts/CaviarDreams.ttf', 'truetype');
@include font('Caviar-Dreams-bold', '../fonts/CaviarDreams_Bold.ttf', 'truetype');
@include font('Caviar-Dreams-bold-italic', '../fonts/CaviarDreams_BoldItalic.ttf', 'truetype');
@include font('Caviar-Dreams-italic', '../fonts/CaviarDreams_Italic.ttf', 'truetype');

html {
	font-family: sans-serif;
  	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;

  	a {
  		text-decoration: none;
  	}

  	ul {
  		margin: 0;
  		padding: 0;
  	}
}

body, html {
  height: 100%;
	background-color: $color-brown02;
	margin: 0;
}

.backgroundHover {
  position: absolute;
  width: 100%;
  height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  background-color: $color-grey08;
  opacity: 0.3;
}

.gradient {
	background-image: linear-gradient(0deg, $color-brown02 0%, rgba(0,0,0,0) 50%);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}


@keyframes translateIn {
  from { 
		top: 90%;
		left: 50%;
		transform: translate(-50%, -90%);	 }
  to   { 
		top: 80%;
		left: 50%;
		transform: translate(-50%, -80%);	 }
}

.paragraph {
	font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
	color: $color-white;
	font-size: 16px;
	line-height: 22px;
	margin: 0;

	&--small {
		font-size: 14px;
		line-height: 18px;
	}
}

.link {
	color: $color-white;
	text-decoration: underline;	
}

.Header {
	width: auto;
	height: 100%;
	position: relative;

	&--minified {
		height: 250px;
	}

	&__link {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__image {
		background-image: url("../images/header.jpg");
		height: 100%;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
    background-position-x: 60%;

    @media (min-width: 928px) {			
    	background-position-x: center;
		}

		&--drawings {
			background-image: url("../images/header-drawings.jpg");
			background-position-y: -300px;
		}

		&--sculptures {
			background-image: url("../images/header-sculptures.jpg");
			background-position-y: -300px;
		}
	}

	&__content {
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -80%);
  	animation: translateIn 1s;
  	width: 100%;
	}

	&__title {
		font-family: Better-Yesterday, Arial-bold, arial, sans-serif;
		font-size: 5em;
		margin: 0 0 20px;
		text-align: center;
		font-weight: 100;
		color: $color-white;
  	animation: fadein 2s;
	}

	&__subtitle {
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		font-size: 15px;
		text-align: center;
		display: block;
		color: $color-white;
  	animation: fadein 2s;  	
	}

	&__nav {
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		font-size: 30px;
		color: $color-white;
		cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
	}
}

.Nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-brown02;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 35px;

	&__item {
	  padding: 8px 8px 8px 32px;
	  display: block;
	  transition: 0.3s;
	  cursor: pointer;
	  margin-top: 5px;

	  a {
			font-family: Caviar-Dreams-bold, Arial-bold, arial, sans-serif;
			color: $color-white;
		  font-size: 25px;
	  }

	  &:hover {
	  	background-color: $color-red;
	  }
	}

	&__close {
		color: $color-white;
		position: absolute;
	  top: 0;
	  right: 0;
	  font-size: 35px;
	  margin-left: 50px;
	  width: 40px;
	  text-align: center;

	  &:hover {
	  	background-color: $color-red;
	  }	  
	}
}

.Home {

	&__link {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__paragraph {
		display: flex;
		flex-direction: column-reverse;
    align-items: center;
		padding: 50px 0;

		@media (min-width: 928px) {
			flex-direction: row;
		}
	}

	&__image {
		margin-top: 32px;

		@media (min-width: 928px) {
			margin-right: 32px;
			margin-top: 0;
		}
	}

	&__separator {
		display: block;
		width: 50%;
		border-top: 1px $color-white solid;
		margin: 0 auto;
	}

	&__section {
		width: 80%;
		margin: 0 auto;
		color: $color-white;
		font-size: 12px;
		position: relative;

		@media (min-width: 928px) {
			.backgroundHover {
				opacity: 0;
			}
		}

		&:hover {

			.Home__title {
				display: block;
				transform: translate(0);
			}

			.backgroundHover {
				opacity: 0.3;
			}
		}

		&--image {
			width: 100%;
			height: 70vh;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
			overflow: hidden;

			&01 {
				background-image: url("../images/home_01.jpg");
			}

			&02 {
				background-image: url("../images/home_02.jpg");
			}
		}
	}

	&__title {
    position: absolute;
    font-size: 60px;
    padding: 20px;
    right: 0;
    bottom: 0;
		display: block;
		z-index: 1000;
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		color: $color-white;

		@media (min-width: 928px) {
			transform: translate(100%);
    	transition: 0.3s ease-in;
		}
	}
}

.ArtPage {
	width: 80%;
  margin: 20px auto;

  &__title {
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		font-size: 24px;
		text-align: center;
		display: block;
		color: $color-white;    	
  }

	&__grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 15px;
		grid-row-gap: 15px;

		@media (min-width: 928px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__image {
		width: 100%;;
	}

	&__paragraph {
		padding: 50px 0;
	}
}

.SingleArt {
	width: 80%;
  margin: 20px auto;
	
	&__title {
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		font-size: 24px;
		text-align: center;
		display: block;
		color: $color-white;
	}

	&__carousel {
		height: 80vh;
	}

	&__image {    
		height: 100%;
    margin: 0 auto;
    display: block;
	}

	&__description {	
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		padding: 50px 0;
		color: $color-white
	}
}

.Footer {
	height: 50vh;
	width: 80%;
	margin: 40px auto 0;
 	border-top: 1px solid $color-white;

 	&__item {
 		margin: 12px 0 24px 0;
		font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
		font-size: 24px;
		display: block;

		a {
			color: $color-white;
		}
 	}
}