@font-face {
  font-family: "Better-Yesterday-italic";
  src: url("../fonts/Better Yesterday italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Better-Yesterday";
  src: url("../fonts/Better Yesterday.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Caviar-Dreams";
  src: url("../fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Caviar-Dreams-bold";
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Caviar-Dreams-bold-italic";
  src: url("../fonts/CaviarDreams_BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Caviar-Dreams-italic";
  src: url("../fonts/CaviarDreams_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  html a {
    text-decoration: none; }
  html ul {
    margin: 0;
    padding: 0; }

body, html {
  height: 100%;
  background-color: #2d0e0b;
  margin: 0; }

.backgroundHover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #282828;
  opacity: 0.3; }

.gradient {
  background-image: linear-gradient(0deg, #2d0e0b 0%, rgba(0, 0, 0, 0) 50%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.paragraph {
  font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  margin: 0; }
  .paragraph--small {
    font-size: 14px;
    line-height: 18px; }

.link {
  color: #fff;
  text-decoration: underline; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes translateIn {
  from {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%); }
  to {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%); } }
.Header {
  width: auto;
  height: 100%;
  position: relative; }
  .Header--minified {
    height: 250px; }
  .Header__link {
    width: 100%;
    height: 100%;
    display: block; }
  .Header__image {
    background-image: url("../images/header.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 60%; }
    @media (min-width: 928px) {
      .Header__image {
        background-position-x: center; } }
    .Header__image--drawings {
      background-image: url("../images/header-drawings.jpg");
      background-position-y: -300px; }
    .Header__image--sculptures {
      background-image: url("../images/header-sculptures.jpg");
      background-position-y: -300px; }
    .Header__image--contact {
      background-image: url("../images/header-contact.jpg");
      background-position-y: -190px; }
  .Header__content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    animation: translateIn 1s;
    width: 100%; }
  .Header__title {
    font-family: Better-Yesterday, Arial-bold, arial, sans-serif;
    font-size: 5em;
    margin: 0 0 20px;
    text-align: center;
    font-weight: 100;
    color: #fff;
    animation: fadein 2s; }
  .Header__subtitle {
    font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
    font-size: 15px;
    text-align: center;
    display: block;
    color: #fff;
    animation: fadein 2s; }
  .Header__nav {
    font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px; }

.Nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d0e0b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 35px; }
  .Nav__item {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 5px; }
    .Nav__item a {
      font-family: Caviar-Dreams-bold, Arial-bold, arial, sans-serif;
      color: #fff;
      font-size: 25px; }
    .Nav__item:hover {
      background-color: #540707; }
  .Nav__close {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    margin-left: 50px;
    width: 40px;
    text-align: center; }
    .Nav__close:hover {
      background-color: #540707; }

.Home__link {
  width: 100%;
  height: 100%;
  display: block; }
.Home__paragraph {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 50px 0; }
  @media (min-width: 928px) {
    .Home__paragraph {
      flex-direction: row; } }
.Home__avatar {
  margin-top: 32px; }
  @media (min-width: 928px) {
    .Home__avatar {
      margin-right: 32px;
      margin-top: 0; } }
.Home__separator {
  display: block;
  width: 50%;
  border-top: 1px #fff solid;
  margin: 0 auto; }
.Home__section {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 928px) {
    .Home__section .backgroundHover {
      opacity: 0; } }
  .Home__section:hover .backgroundHover {
    opacity: 0.1; }
  .Home__section--image {
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer; }
    .Home__section--imageDrawings {
      background-image: url("../images/home-drawings.jpg"); }
    .Home__section--imageSculptures {
      background-image: url("../images/home-sculptures.jpg"); }
.Home__title {
  position: absolute;
  font-size: 60px;
  padding: 20px;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1000;
  font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
  color: #fff; }

.ArtPage {
  width: 80%;
  margin: 20px auto; }
  .ArtPage__title {
    font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
    font-size: 24px;
    text-align: center;
    display: block;
    color: #fff; }
  .ArtPage__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px; }
    @media (min-width: 928px) {
      .ArtPage__grid {
        grid-template-columns: repeat(3, 1fr); } }
  .ArtPage__image {
    width: 100%; }
  .ArtPage__paragraph {
    padding: 50px 10px; }
    @media (min-width: 928px) {
      .ArtPage__paragraph {
        padding: 50px 32px; } }

.SingleArt {
  width: 80%;
  margin: 20px auto; }
  .SingleArt__title {
    font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
    font-size: 24px;
    text-align: center;
    display: block;
    color: #fff; }
  .SingleArt__carousel {
    height: 80vh; }
  .SingleArt__image {
    height: 100%;
    margin: 0 auto;
    display: block; }
  .SingleArt__description {
    font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
    padding: 50px 0;
    color: #fff; }

.Footer {
  height: 50vh;
  width: 80%;
  margin: 40px auto 0;
  border-top: 1px solid #fff; }
  .Footer__item {
    margin: 12px 0 24px 0;
    font-family: Caviar-Dreams, Arial-bold, arial, sans-serif;
    font-size: 24px;
    display: block; }
    .Footer__item a {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
